body {
    font-family: South Island;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #FAE8E0; 
}

.pozadina {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
    padding-bottom: 100px;
    width: 100%;
}

header {
    background-color: #F4C2C2; 
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #5C3D2E; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

header h1 {
    margin: 0;
}

nav {
    width: 100%;
    background-color: #F9D5E5; 
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 60px; 
    z-index: 2;
    margin-top: 17px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px; 
    align-items: center;
}

nav ul li {
    padding: 0;
}

nav ul li a {
    color: #5C3D2E; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #FADADD; 
    border-radius: 5px;
}

.content-wrapper {
    text-align: center;
    padding: 2rem;
    max-width: 800px; 
    margin: 120px auto 0; 
  }
  
  .logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .company-info h2 {
    color: #5C3D2E; 
    font-size: 2rem; 
    margin-bottom: 0.5rem;
  }
  
  .company-info p {
    color: #5C3D2E;
    font-size: 1rem; 
    line-height: 1.5; 
  }
  
  @media (max-width: 600px) {
    .content-wrapper {
      margin-top: 150px; 
      padding: 1rem;
    }
  
    .company-info h2 {
      font-size: 1.5rem; 
    }
  }
  
.content-pocetna {
    padding: 20px;
    background-color: #ffffff41;
    box-shadow: 50px 50px 50px 50px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 5px;    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 120px; 
    margin-bottom: 60px; 
    color: #5C3D2E; 
    width: 60%;
  }
  
  .slika-pocetna {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-pocetna {
    font-family: South Island;
    width: 70%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: larger;
  }

  
  .logo {
    width: 100%;
    max-width: 300px; 
    height: auto;
  }
  
  footer {
    background-color: #F9D5E5; 
    color: #5C3D2E; 
    text-align: center;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  @media (max-width: 600px) {
    .content-pocetna {
      flex-direction: column;
      margin-top: 150px; 
    }
  
    .slika-pocetna,
    .text-pocetna {
      flex-basis: 100%;
    }
  }  

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px; /
    }
}

.content-kontakt {
    padding: 20px;
    background-color: #ffffff41;
    box-shadow: 50px 50px 50px 50px rgba(0.1, 0.1, 0.1, 0.1); 
    border-radius: 5px;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 120px; 
    margin-bottom: 60px; 
    color: #5C3D2E; 
    width: 60%;
  }


.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #5C3D2E; 
    margin-bottom: 10px; 
  }
  
  .social-links img {
    width: 50px; 
    height: auto;
    margin-right: 10px; 
  }
  
  @media (max-width: 600px) {
    .social-links a {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
.content-kontakt {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2rem;
    margin-top: 120px; 
    margin-bottom: 60px; 
    max-width: 1000px; 
  }
  
  .social-links {
    font-size: larger;
    flex-basis: auto;
  }
  
  .text-kontakt {
    flex-basis: auto;
    text-align: right; 
    margin-left: 2rem; 
    font-size: larger;
  }
  
  footer {
    position: relative; 
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .content-kontakt {
      flex-direction: column;
      align-items: flex-start; 
    }
  
    .social-links,
    .text-kontakt {
      flex-basis: 100%; 
      text-align: left; 
    }
  
  }
  
.oNama-Content {
    padding: 20px;
    background-color: #ffffff41;
    box-shadow: 50px 50px 50px 50px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 120px;
    margin-bottom: 60px;
    color: #5C3D2E;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .about-section {
    text-align: center;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
}

 
@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
    }
}

@media (max-width: 600px) {
    .header-h1{
      display: none;
    }
  }
  
  .pretraga {
    width: 100%;
    background-color: #ffffff41;
    box-shadow: 50px 50px 50px 50px rgba(0.1, 0.1, 0.1, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 35px;
  }
  
  #searchInput {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
  }
  
  #searchButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F4C2C2;
    color: #5C3D2E;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #searchButton:hover {
    background-color: #e69aa2;
  }
  
  .proizvodi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .kartica {
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
  }
  
  .slika-proizvoda {
    width: 100%;
    display: block;
  }
  
  .dodaj-u-korpu-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f2b6c6;
    color: #5C3D2E;
    font-weight: bold;
  }
  
  .detalji-proizvoda {
    display: none;
    padding: 10px;
    text-align: center;
  }
  
  .detalji-proizvoda.active {
    display: block;
  }
  
  .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefeef;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #5C3D2E;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.korpa-content {
  display: flex;
  justify-content: space-between;
}

.korpa-items {
  width: 50%;
}

.korpa-content {
  padding: 20px;
  background-color: #ffffff41;
  box-shadow: 50px 50px 50px 50px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 120px;
  margin-bottom: 60px;
  color: #5C3D2E;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.korpa-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 30%; 
  color: #5C3D2E;
  margin-left: 0px;

}

.korpa-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #5C3D2E;

}

.korpa-form input[type="text"],
.korpa-form input[type="tel"] {
  color: #5C3D2E;
  padding: 10px;
  border: 1px solid #f2b6c6;
  border-radius: 5px;
}

.korpa-form button {
  padding: 10px 20px;
  background-color: #f2b6c6;
  color: #5C3D2E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.korpa-form button:hover {
  background-color: #e69aa2;
}

@media (max-width: 768px) {
  .korpa-form {
    width: 90%;
  }
}
